@import '@/styles/colors.scss';

.bots {
    margin: 5% 20% 5% 20%;

    h2 {
        color: $primary-foreground;
    }


    .Bot {
        height: fit-content;
        background-color: $tertiary-background;
        text-decoration: none;
        color: white;
        display: flex;
        padding: 16px;
        align-items: center;
        flex-direction: column;
        margin: 20px;
    }

    .discord {
        .icon {
            color: #5865F2;
        }
    }

    .icons {
        position: relative;
        width: 100%;

        .pfp {
            width: 100%;
            height: auto;
            position: relative;
            z-index: 1;
        }

        .icon {
            width: 25%;
            position: absolute;
            top: 5%;
            right: 5%;
            z-index: 2;
        }
    }


    @media screen and (min-width: 768px) {

        .Bot {
            flex-direction: row;

            .icons {
                position: relative;
                height: 15vh;
                width: fit-content;
                padding-right: 15px;

                .pfp {
                    height: 100%;
                    width: auto;
                }

                .icon {
                    height: 25%;
                }
            }
        }

    }
}


// margin: t r b l;