@import '@/styles/colors.scss';

.footer {
    height: 10vh;
    font-size: 15px;
    color: $quaternary-foreground;
    background-color: $quaternary-background;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .icon {
        width: 15px;
        height: auto;
        margin: 5px;
        color: red;
    }
    .links {
        position: absolute;
        left: 20px;
        margin: 5px;
        color: $quaternary-foreground;
        .link {
            width: fit-content;
            justify-content: center;
            align-items: center;
            display: block;

            color: $quaternary-foreground;
            .icon {
                display: block;
                justify-content: center;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                color: inherit;
            }
        }
    }
}