@import '@/styles/colors.scss';
@import '@/styles/partials/_navbar.scss';

.aboutHeader {
    height: calc(100vh - ($header-height + $header-bottom_border));
    background-color: $primary-background;
    color: $secondary-background;
    width: 97%;
    margin: auto;

    canvas {
        position: absolute;
        z-index: 1;
    }

    .aboutInfo {
        position: absolute;
        width: 97%;
        z-index: 2;
        align-items: center;
        display: flex;
        justify-content: center;
        height: calc(100vh - ($header-height + $header-bottom_border));
        flex-direction: column;

        .Logo {
            height: 20vw;
            width: auto;
            margin-top: 20px;
        }

        .headerText {
            color: $secondary-foreground;
            margin: 20px;

            h1 {
                font-size: 25px;
            }

            h4 {
                font-size: 10px;
            }
        }
    }

    @media screen and (min-width: 768px) {

        // when large
        .aboutInfo {
            flex-direction: row;

            .Logo {
                height: 15vw;
                width: auto;
                margin: 0;
            }
            .headerText {
                h1 {
                    font-size: 50px;
                }
    
                h4 {
                    font-size: 25px;
                }
            }
        }
    }
}