@import '@/styles/colors.scss';
@import '@/styles/partials/_navbar.scss';

$DownIcon_height: 45px;
$DownIcon_bottomoffset: 15px;
$CanvasTop: calc(100vh - ($header-height + $header-bottom_border));
$CanvasOverhang: calc($CanvasTop / 2);
$Canvas: calc($CanvasTop + $CanvasOverhang);

.aboutHeader {
    position: relative;
    height: $Canvas;
    background-color: $primary-background;
    color: $secondary-background;
    width: 97%;
    margin: auto;
    .DownIcon {
        height: $DownIcon_height;
        position: absolute;
        z-index: 2;
        right: 50%;
        top: calc((100vh - ($header-height + $header-bottom_border)) - ($DownIcon_height + $DownIcon_bottomoffset));
        transform: translate(50%);   
    }

    canvas {
        position: absolute;
        z-index: 1;
    }

    .aboutInfo {
        position: absolute;
        width: 97%;
        z-index: 2;
        align-items: center;
        display: flex;
        justify-content: center;
        height: calc(100vh - ($header-height + $header-bottom_border));
        flex-direction: column;

        .Logo {
            height: 20vw;
            width: auto;
            margin-top: 10px;
        }

        .headerText {
            color: $secondary-foreground;
            margin: 10px;

            h1 {
                font-size: 40px;
            }

            h4 {
                font-size: 20px;
            }
        }
    }

    @media screen and (min-width: 768px) {

        // when large
        .aboutInfo {
            flex-direction: row;

            .Logo {
                height: 15vw;
                width: auto;
                margin: 0;
            }
            .headerText {
                h1 {
                    font-size: 50px;
                }
    
                h4 {
                    font-size: 25px;
                }
            }
        }
    }
}